# Node modules
node_modules/

# Build output
dist/
out-tsc/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS metadata
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Angular build cache
.angular/

# Optional cache
.npm/
pnpm-lock.yaml
yarn.lock
